/**
 Lazy Loading
 */
 .lazy {
    filter: blur(0);
    transition: filter .25s linear;
}

.lazy.small {
    filter: blur(8px);
    transition-duration: 0s;
}









/**
 My styles
 */
:root {
	--text: #222;
	--lightest: #E3E2DF;
	--lighter: #E3AFBC;
	--light: #EE4C7C;
	--darker: #9A1750;
	--darkest: #5D001E;
}


* {
	margin: 0;
	padding: 0;
	font-family: "Noto Sans JP", sans-serif;
	box-sizing: border-box;
	color: var(--text);
}



/* Open/close menu icons */
.nav .icon-container, .header .icon-container {
	height: 48px;
} .nav .icon, .header .icon {
	height: 100%;
	width: auto;
}



/* Navigation */
.nav {
	position: fixed;
	z-index: 10;
	width: 85vw;
	height: 110vh;
	left: -85vw;

	background: var(--lighter);
	border-right: 2px solid var(--darkest);
	transition: 500ms ease-out;
}
.nav .close {
	float: right;
}

.nav ul {
	margin-top: 5em;
	list-style-type: none;
}
.nav li {
	margin: 0 0.25em;
	padding: 0.5em 0.5em;
	letter-spacing: 0.05em;
	color: var(--text);
	font-size: 1.3rem;
	transition: 250ms ease-out;
}
.nav li:hover {
	background: var(--light);
	padding-left: 1.5em;
}



/* Fixed header on top */
.header {
	position: fixed;
	z-index: 9;
	width: 100vw;
	height: 8vh;
	background: var(--lighter);
	border-bottom: 2px solid var(--darkest);
}
.header .open {
	height: 100%;
}
.header .open .icon {
	margin: 0 0.5em;
}





/* Background images */
.background-container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.background-container .background {
	flex-shrink: 0;
	min-width: 100%;
	min-height: 100%;
}






/* Headers */
h2 {
	text-align: center;
	margin: 1em 0;
}
h2::after {
	content: "";
	position: relative;
	display: block;
	left: 40vw;
	width: 20vw;
	top: 8px;
	height: 4px;
	border-radius: 2px;
	background: var(--text);
}










/* Home */
h1 {
	color: #FFF;
	position: absolute;
	top: 35vh;
	left: 10vw;
	right: 10vw;
	font-size: 1.6rem;
	text-shadow: 2px 2px 3px #222;
	text-align: center;
}
h1 span {
	color: #FFF;
}
.home .background-container::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.45;
}










/* About Me */
.image-container.me {
	display: block;
	width: 60vw;
	height: 60vw;
	margin: 3em 0 2em 20vw;
}
.lazy.me {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow: 0 0 6px -1px #222;
}
.about-me p, .about-me .skills {
	padding: 0 2em;
}



.skills {
	margin: 1em 0;
}
.skill-container {
	width: 100%;
	height: 2em;
	margin: 0.5em 0;
	background: #DDD;
}
.skill {
	width: 100px;
	height: 100%;
	background: var(--darker);
	display: block;
	float: left;
	color: #FFF;
	text-align: center;
	padding: 3px 0;
}
.progress {
	display: block;
	float: left;
	height: 100%;
	background: var(--light);
	color: #FFF;
	padding: 3px 0.4em;
}
.p90 { width: calc((100% - 100px) * 0.90); }
.p85 { width: calc((100% - 100px) * 0.85); }
.p80 { width: calc((100% - 100px) * 0.80); }
.p70 { width: calc((100% - 100px) * 0.70); }

