:root {
	--lightest: #E3E2DF;
	--lighter: #E3AFBC;
	--light: #EE4C7C;
	--darker: #9A1750;
	--darkest: #5D001E;
}


* {
	margin: 0;
	padding: 0;
	font-family: "Noto Sans JP", sans-serif;
}


.nav {
	position: fixed;
	width: 80vw;
	left: -80vw;
}

.header {
	position: fixed;
	width: 100vw;
	height: 8vh;
}