:root {
	--text: #222;
	--lightest: #E3E2DF;
	--lighter: #E3AFBC;
	--light: #EE4C7C;
	--darker: #9A1750;
	--darkest: #5D001E;
}


* {
	margin: 0;
	padding: 0;
	font-family: "Noto Sans JP", sans-serif;
	box-sizing: border-box;
}



/* Open/close menu icons */
.nav .icon-container, .header .icon-container {
	height: 48px;
} .nav .icon, .header .icon {
	height: 100%;
	width: auto;
}



/* Navigation */
.nav {
	position: fixed;
	z-index: 10;
	width: 85vw;
	height: 110vh;
	left: -85vw;

	background: var(--lighter);
	border-right: 2px solid var(--darkest);
	transition: 500ms ease-out;
}
.nav .close {
	float: right;
}

.nav ul {
	margin-top: 5em;
	list-style-type: none;
}
.nav li {
	margin: 0 0.25em;
	padding: 0.5em 0.5em;
	letter-spacing: 0.05em;
	color: var(--text);
	font-size: 1.3rem;
	transition: 250ms ease-out;
}
.nav li:hover {
	background: var(--light);
	padding-left: 1.5em;
}



/* Fixed header on top */
.header {
	position: fixed;
	z-index: 9;
	width: 100vw;
	height: 8vh;
	background: var(--lighter);
	border-bottom: 2px solid var(--darkest);
}
.header .open {
	height: 100%;
}
.header .open .icon {
	margin: 0 0.5em;
}